@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Coustard:wght@400;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.app-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #56ee51; 
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  font-family: 'Lato' , sans-serif;
  margin-bottom: 20px;
  width: 300px;
  color: #faf7f7; 
  text-shadow: -2px -2px 0 #000;
}


